#!/usr/bin/env sh

killall {{ chrome_ps }}
sleep 5
export DISPLAY=:0
firefox "https://jira.tools.tax.service.gov.uk/secure/RapidBoard.jspa?rapidView=513" "https://jira.tools.tax.service.gov.uk/secure/RapidBoard.jspa?rapidView=2825&projectKey=SDT" &
sleep 20
DISPLAY=:0 xdotool key F11
